<!-- Se crea un encabezado de nivel 1 -->
<h1>Lista de Contactos Registrados</h1>

<!-- Se utiliza un bucle for para iterar a través de los contactos y mostrar la información de cada uno -->
{% for contact in contactos %}

    <!-- Se muestra el nombre completo del contacto -->
    <p>{{ contact.fullname }}</p>

    <!-- Se muestra el correo electrónico del contacto -->
    <p>{{ contact.email }}</p>

    <!-- Se muestra el número de teléfono del contacto -->
    <p>{{ contact.phone }}</p>

<!-- Se termina el bucle for -->
{% endfor %}
